@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.desc, nav, h5, footer{
	font-family: 'Ubuntu',
	sans-serif;
}

.title {
	text-align: center;
}

pre {
	padding: 2%;
	color: white;
}

.question {
	border-radius: 20px 20px;
	color: white;
	padding: 3%;
}

.string {
	color: greenyellow;
}
.function {
	color: palevioletred;
}

.container{
	height: 100%;
	padding:3%;
}

.centred {
	text-align: center;
}

.python {
	border-radius: 10px 10px;	
}